<header class="header">
    <a href="/" class="brand">URL Shortener</a>

<!-- <nav>
    <a href="/">Home</a>
    <a href="/profile">Dashboard</a>

    <% if (!user) { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } else { %>
        <a href="/logout">Logout</a>
    <% } %>
</nav> -->


<nav class="navbar">
    <!-- Hidden checkbox -->
    <input type="checkbox" id="menu-toggle" class="menu-toggle">

    <!-- Hamburger icon -->
    <label for="menu-toggle" class="hamburger">&#9776;</label>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/profile">Dashboard</a>

        <% if (!user) { %>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        <% } else { %>
            <a href="/logout">Logout</a>
        <% } %>
    </div>
</nav>
</header>
