# Node modules
node_modules/

# Environment files
.env

# Logs
*.log

/mongodb

/config/db-client.js

/config/env.js

public/uploads/
public/avatars/

node_modules/
DrizzleORM/node_modules/
DrizzleORM/.env

libv/nodemailer.js
