
node_modules/
DrizzleORM/node_modules/
DrizzleORM/package-lock.json
DrizzleORM/package.json
.env
.env.*
!.env.example
DrizzleORM/.env

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

/mongodb
/config/db-client.js
/config/env.js
libv/nodemailer.js


public/uploads/
public/avatars/


dist/
build/

.DS_Store
.vscode/
.idea/
