<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/index.css">
    <title>Edit Short URL</title>
</head>
<body>
    <div class="edit-container">
        <h3 class="edit-form-title">Edit Short URL</h3>

        <% if (errors) { %>
            <div class="flash-error">
                <%= errors %>
            </div>
        <% } %>

        <form action="/edit/<%= id %>" method="POST" class="edit-form">

            <input
                type="text"
                name="url"
                value="<%= link[0].url%>"
                placeholder="Enter new URL"
                required
            />

            <input
                type="text"
                name="shortCode"
                value="<%= link[0].shortCode || '' %>"
                placeholder="Enter custom shortcode"
                required
            />

            <button type="submit" class="update-btn">Update</button>
        </form>
        <br>
        <a href="/" class="btn-secondary">← Back</a>
    </div>
</body>
</html>
